<div class="row" style="min-height: 60vh; padding-bottom: 10vh; padding-top: 5vh">

  <div class="col-lg-8 offset-lg-2  pt-5">

    <div class="row d-flex justify-content-center">
      <div>
        <img
        width="100px"
        height="auto"
        alt="NOWE TECHNOLOGIE"
        src="/assets/images/nowe-technologie.png"
        />
      </div>
      <div style="margin-left: 0 !important; padding-left:0 !important;margin:auto; padding: auto; vertical-align: middle;">
        <h3 style=" text-align: left; margin-left: 40px;  margin-bottom: 0 !important; ">
          Nowe technologie:
        </h3>
      </div>
    </div>

      <p class="pt-4">
        service description
      </p>

  </div>
</div>

