<div class="row" style="min-height: 60vh; padding-bottom: 10vh; padding-top: 5vh">


  <div class="col-lg-8 offset-lg-2  pt-5">

    <div class="row  d-flex justify-content-center">
      <div>
        <img
        width="100px"
        height="auto"
        alt="ZWALCZANIE NIEUCZCIEWEJ KONKURENCJI"
        src="/assets/images/zwalczanie-nieuczciwej-konkurencji.png"
        />
      </div>
      <div style="margin-left: 0 !important; padding-left:0 !important;margin:auto; padding: auto; vertical-align: middle;">
        <h3 style=" text-align: left; margin-left: 20px;  margin-bottom: 0 !important; ">
          Zwalczanie nieuczciwej konkurencji:
        </h3>
      </div>
    </div>

    <p class="pt-4" style="line-height: 30px;">
      service description
    </p>
  </div>
</div>

