<div>

  <section appScrollSpyElement id="mainpage" >
    <div class="list-slider container-fluid">
      <div class="row" style="position: relative;">
        <img
          class="d-none d-md-block lisc-header-lewy"
          src="/assets/images/lisc_header_lewy.png"
          alt="lisc laurowy lewy"
        />
        <img
          class="d-none d-md-block lisc-header-prawy"
          src="/assets/images/lisc_header_prawy.png"
          alt="lisc laurowy prawy"
        />
        <div class="slider">
          <img
            width="100%"
            height="100%"
            class="img-responsive"
            src="/assets/images/main-pic.webp"
            alt="KANCELARIA PRAWNA"
          />

          <div class="container-fluid">
            <div class="row text-center">
              <div class="col-lg-2"></div>
              <div class="col-lg-10 px-0">
                <div class="slide-content bottom intro">
                  <h1 class="no-line">XXXXXXXX XXXXXXXXX</h1>
                  <hr />
                  <h3 class="pt-lg-4">XXXXXXXX XXXXXXXX XXXXXXX</h3>
                  <div class="col-12 px-lg-0 get-info">
                    <a href="/about" class="mb-0" [routerLink]="['/about']"
                      >Find out more</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section appScrollSpyElement  id="lawfirm">
    <div class="container-fluid">
      <div
        class="row"
        style="
          background-image: url('/assets/images/mlotek.webp');
          background-size: cover;
          background-position: 0;
        "
      >
        <div class="col-lg-12 container-mission">
          <div class="row" style="height: 100vh">
            <div class="col-sm-2 col-lg-6"></div>
            <div class="col-sm-10 col-lg-6 p-lg-0">
              <div class="law-mission d-flex justify-content-center">
                <div class="p-lg-5 p-4" style="max-width: 636px;">

                  <div class="about-div">
                    <h2 class="about-h2">About the law firm</h2>
                    <div class="right-divider"></div>
                  </div>

                  <div style="text-align: justify;">
                    <p>
                      text about law firm
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section appScrollSpyElement id="services">
    <div class="container-fluid py-5 services-container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2" role="tabpanel">

          <div class="row justify-content-center mt-2">
            <div class="about-div" style="width: 100%; margin-top: 5vh; max-height: 15vh;">
              <div class="left-divider"></div>
              <h2 class="about-h2">Service</h2>
              <div class="right-divider"></div>
            </div>
            <div class="service-description">
              <p>
                service description
              </p>
            </div>
          </div>

          <div class="row justify-content-between px-0">
            <div class="col-lg-4 pl-lg-0">
              <a href="/service/intellectual-law" [routerLink]="['/service/intellectual-law']" class="draw-border service-pane">
                <img
                  alt="PRAWO WLASNOSCI INTELEKTUALNEJ"
                  width="50px"
                  height="50px"
                  src="/assets/images/prawo-wlasnosci-intelektualnej.png"
                  loading="lazy"
                />
                <label class="title">Intellectual property law</label>
              </a>
            </div>
            <div class="col-lg-4">
              <a href="/service/economic-law" [routerLink]="['/service/economic-law']" class="draw-border service-pane">
                <img
                  alt="PRAWO GOSPODARCZE"
                  width="50px"
                  height="50px"
                  src="/assets/images/prawo-gospodarcze.png"
                  loading="lazy"
                />
                <label class="title">Economic law</label>
              </a>
            </div>
            <div class="col-lg-4 pr-lg-0">
              <a href="/service/new-technologies" [routerLink]="['/service/new-technologies']" class="draw-border service-pane">
                <img
                  alt="NOWE TECHNOLOGIE"
                  width="50px"
                  height="50px"
                  src="/assets/images/nowe-technologie.png"
                  loading="lazy"
                />
                <label class="title">New technologies</label>
              </a>
            </div>
          </div>

          <div class="row justify-content-between px-0">
            <div class="col-lg-4 pl-lg-0">
              <a href="/service/construction-law" [routerLink]="['/service/construction-law']"  class="draw-border service-pane">
                <img
                  alt="PRAWO BUDOWLANE"
                  width="50px"
                  height="50px"
                  src="/assets/images/prawo-budowlane.png"
                  loading="lazy"
                />
                <label class="title">Construction law</label>
              </a>
            </div>
            <div class="col-lg-4">
              <a href="/service/companies-law" [routerLink]="['/service/companies-law']"  class="draw-border service-pane">
                <img
                  alt="PRAWO SPÓŁEK HANDLOWYCH"
                  width="50px"
                  height="50px"
                  src="/assets/images/prawo-spolek-handlowych.png"
                  loading="lazy"
                />
                <label class="title">Commercial companies law</label>
              </a>
            </div>
            <div class="col-lg-4 pr-lg-0">
              <a href="/service/real-estate-law" [routerLink]="['/service/real-estate-law']"  class="draw-border service-pane">
                <img
                  alt="PRAWO MIESZKANIOWE I OBROT NIERUCHOMOSCIAMI"
                  width="50px"
                  height="50px"
                  src="/assets/images/prawo-nieruchomosci.png"
                  loading="lazy"
                />
                <label class="title">
                  Housing law and real estate trade
                </label>
              </a>
            </div>
          </div>

          <div class="row justify-content-between px-0">
            <div class="col-lg-4 pl-lg-0">
              <a href="/service/restructuring-law" [routerLink]="['/service/restructuring-law']"  class="draw-border service-pane ">
                <img
                  alt="PRAWO UPADLOSCIOWE I RESTRUKTURYZACYJNE"
                  width="50px"
                  height="50px"
                  src="/assets/images/prawo-restrukturyzacyjne.png"
                  loading="lazy"
                />
                <label class="title"
                  >Bankruptcy and restructuring law</label
                >
              </a>
            </div>
            <div class="col-lg-4">
              <a href="/service/vindication-law" [routerLink]="['/service/vindication-law']" class="draw-border service-pane">
                <img
                  alt="WINDYKACJA"
                  width="50px"
                  height="50px"
                  src="/assets/images/windykacja.png"
                  loading="lazy"
                />
                <label class="title">Debt collection</label>
              </a>
            </div>
            <div class="col-lg-4 pr-lg-0">
              <a href="/service/unfair-competition-law" [routerLink]="['/service/unfair-competition-law']" class="draw-border service-pane">
                <img
                  alt="ZWALCZANIE NIEUCZCIEWEJ KONKURENCJI"
                  width="50px"
                  height="50px"
                  src="/assets/images/zwalczanie-nieuczciwej-konkurencji.png"
                  loading="lazy"
                />
                <label class="title">Fighting unfair competition</label>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section appScrollSpyElement id="opinions">
    <div
      class="container-fluid opinions-container"
      style="background-color: var(--blue)"
    >
      <div class="row">

        <div style="top: calc(-40vh + 83px - 28px); position: relative">
          <img  loading="lazy" class="lisc-opinie" src="/assets/images/lisc_opinie.png" alt="opinie klientow"/>
        </div>

        <div class="col-lg-3 col-12 offset-lg-2">
          <div class="row justify-content-center justify-content-lg-start">
            <div class="col-lg-8 px-3 px-lg-0">
              <div class="about-div opinions-div">
                <div class="left-divider d-block d-lg-none"></div>
                <h2 class="about-h2" style="color: var(--white)">Opinions</h2>
                <div class="right-divider"></div>
              </div>
              <p class="opinions-p" style="color: var(--white)">
                about opinions
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-5 p-0 p-lg-2">

            <div class="d-flex justify-content-center">
              <div
                class="col-12"
                style="align-content: center; max-width: 700px"

              >
                <div class="cytat">
                  <img  loading="lazy" width="75px" height="40px" src="/assets/images/cytat.png" alt="cytat"/>
                </div>

                <ngb-carousel
                  interval="2000"
                  class="carousel-ng"
                  aria-roledescription="carousel"
                  aria-hidden="true"
                  role=slider
                  [showNavigationIndicators]="false"
                >
                  <ng-template  class="modal" ngbSlide *ngFor="let opinions of opinionsArray" aria-roledescription="slide" aria-modal="true">
                    <div class="carousel-container">
                      <div class="row opinions-content">
                        <p
                          style="
                            font-family: 'Poppins-Light';
                            margin: auto;
                            font-style: italic;
                            color: var(--white);
                            text-align: justify;
                          "
                        >
                          {{ opinions.content }}
                        </p>
                      </div>

                      <div class="row" style="position: sticky; top: 5vh">
                        <div class="col-lg-12">
                          <img
                            loading="lazy"
                            *ngIf="opinions.path"
                            src="{{ opinions.path }}"
                            alt="{{ opinions.name }}"
                            class="img-signature"
                            width="120px"
                            height="25px"
                            title="{{ opinions.name }}"
                            style="
                              margin-right: auto;
                              text-align: left;
                              color: var(--white);
                            "
                          />
                          <p
                            *ngIf="!opinions.path"
                            style="
                              font-weight: 600;
                              height: 25px;
                              margin-bottom: 0;
                              text-align: left;
                              color: var(--white);
                            "
                          >
                            {{ opinions.name }}
                          </p>
                          <p
                            style="
                              font-family: 'Poppins-Light';
                              color: var(--white);
                              text-align: left;
                            "
                          >
                            {{ opinions.job }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-carousel>
              </div>
            </div>
          </div>

      </div>
    </div>

    <div
      class="container-fluid opinions-container"
    >

    <div class="row ">

      <div class="col-lg-5 offset-lg-2 d-none d-lg-block">
        <div class="row">
          <div class="about-div" style="margin-top: 15vh; width: 100%">
            <h2 class="about-h2 why-my-h2" >Why our law firm? </h2>
            <div class="right-divider d-none d-lg-block" ></div>

          </div>
          <p class="mx-4 mx-lg-0 text-lg-left text-center">
            text about law firm
          </p>
        </div>
        <div class="row">
          <div class="about-div" style="margin-top: 5vh; width: 100%">
            <h2 class="about-h2 why-my-h2" >Why can you entrust us with your cases?</h2>
            <div class="right-divider d-none d-lg-block" ></div>
          </div>
          <div class="mx-4 mx-lg-0 text-lg-left text-center pb-lg-5">
            <p >
              text about law firm
            </p>
              <br class="d-none d-lg-inline">
            <p>
              text about law firm
            </p>

          </div>
        </div>
      </div>
      <div class="col-4 d-none d-lg-block">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4">
            <img width="227px" height="617px" loading="lazy" src="/assets/images/liscie_opis-min.png" style="height: 80%; margin-top: 20vh;" alt="licie opis uslug">
          </div>

        </div>
      </div>
    </div>

    </div>

  </section>

  <section appScrollSpyElement id="contact">
    <app-contact></app-contact>
  </section>

</div>
